{% extends 'base.html' %} {%block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center my-5">
  <h1 class="display-4 fw-normal">Remarkable Investors</h1>
  <p class="fs-5 text-muted">Who made us a brand and a growing comuinity</p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
</div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center my-5">
  <h1 class="display-4 fw-normal">Success Stories</h1>
  <p class="fs-5 text-muted">
    Remarkable edits that got our investors crazy for deals
  </p>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">XYZ_consultancy</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5000</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>MVP produced</li>
          <li>Live customer interaction</li>
          <li>Multiple deals cracked</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          View pitch
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock body%}
